body {
  align-content: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9;
}

#country {
  visibility: hidden;
  text-align: center;
}

#cityName {
  visibility: hidden;
}

#container {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  border: 3px solid black;
}

#container #overlay {
  background: rgba(0, 0, 0, 0.61);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#container:hover #overlay {
  opacity: 1;
}

#statsInfo {
  color: white;
  font-size: x-large;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#container:hover #statsInfo {
  top: 50%;
  left: 50%;
  opacity: 1;
}

#cityPhoto {
  width: 100%;
}

#submitGroup {
  border: 3px solid black;
  margin: auto;
  width: 50%;
  min-width: fit-content;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submissionResponse {
  visibility: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 200%;
  text-align: center;
}

h1 {
  font-size: 300%;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

#btn,
#hint,
#getAnswerBtn,
#nextCity,
input {
  background-color: #013673;
  border: 2px solid #013673;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  font-size: 13px;
}
input {
  background-color: #b2cff1;
  color: black;
  border: 2px solid #aaaaab;
  caret-color: #013673;
}
