#cityName {
  visibility: hidden;
}

#statsCard {
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  float: right;
  font-size: 190%;
}

#cityPhoto {
  max-width: 60%;
  max-height: 60%;
  margin-left: auto;
  margin-right: auto;
}

#submitGroup {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  padding: 10px;
}
